$breakpoint-mobile-sm: 320px;
$breakpoint-mobile-md: 480px;
$breakpoint-mobile: 768px;


$breakpoint-tablet: 992px;
$breakpoint-desktop-sm: 1200px;
$breakpoint-desktop-md: 1300px;
$breakpoint-desktop-lg: 1500px;
$breakpoint-desktop-xl: 1920px;

